- content_for :title, t('views.sessions.new.title')
.main
  .controller
    .row
      .col-md-offset-4.col-md-3
        .panel.panel-default
          .panel-body
            = form_tag sessions_path, class: 'form-horizontal' do
              .form-group
                .col-md-12
                  = text_field_tag :username, nil, placeholder: t('views.sessions.new.username'), class: 'form-control'
              .form-group
                .col-md-12
                  = password_field_tag :password, nil, placeholder: t('views.sessions.new.password'), class: 'form-control'
              .form-group
                .col-md-12
                  = submit_tag t('views.sessions.new.login'), id: 'submit', class: 'btn btn-danger btn-block'