<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-9">
        <div class="panel">
          <div class="panel-body">
            <table class="table">
              <thead>
              <tr>
                <td>文章编号</td>
                <td>标题</td>
                <td>修改</td>
              </tr>
              </thead>

              <tbody>
              <% @articles.each do |article| %>
                  <tr>
                    <td>
                      <%= article.id %>
                    </td>
                    <td>
                      <%= link_to article.title, article_path(article) %>
                    </td>
                    <td>
                      <%= link_to '修改', edit_article_path(article), class: 'btn btn-danger' %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
