.main
  .container
    .row
      = form_tag articles_create_all_path, method: :post do
        .col-md-9
          .panel
            .panel-body
              .form-group
                = label_tag 'Json文件:', nil, class: 'control-label'
                = text_area_tag :articles, nil, class: 'form-control', rows: 40
              .form-group
                = submit_tag '确定', class: 'btn btn-default'