<div class="row">
  <div class="col-md-12">
    <div class="panel-default">
      <div class="panel-heading bottomDiv">
        Copyright © 2015 - Powered by<%= link_to '100度', welcome_about_path, class: 'btn btn-link' %>
      </div>
    </div>
  </div>
</div>