.row
  .col-md-12
    .panel-default
      .panel-heading.bottomDiv
        Copyright © 2015 - Powered by
        = link_to t('views.crud.nick_name'), about_welcomes_path, class: 'btn btn-link'
        %span#cnzz_stat_icon_1256994447