<div class="col-md-3">
  <div class="panel panel-default panelrecent">
    <div class="panel-heading">
      近期文章
    </div>

    <div class="panel-body">
      <table class="table table-bordered table-hover">
        <tbody>
         <% unless @articles.nil? %>
            <% @articles.each do |article|%>
                <tr>
                  <td>
                    <%= link_to article.title, article_path(article) %>
                  </td>
                </tr>
            <% end %>
         <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>