<div class="col-md-3">
  <div class="panel panel-default paneltags">
    <div class="panel-heading">
      所有标签
    </div>
    <div class="panel-body">
      <% unless @tags.nil? %>
      <% @tags.each do |tag| %>
          <%= link_to tag.name,welcome_tag_path(tag) %>
          <span class="badge"><%= tag.articles.count %></span><br>
      <% end %>
      <% end %>
    </div>
  </div>
</div>