<div class="main">
  <div class="controller">
    <div class="row">
      <div class="col-md-offset-1 col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
              <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                      <td>标签</td>
                      <td>文章</td>
                    </tr>
                </thead>
                <tbody>
                <% @tags.each do |tag|%>
                    <tr>
                      <td><%= tag.name %></td>
                      <% tag.articles.each do |article| %>
                          <td style="display: list-item;list-style: none">
                            <%= link_to article.title, article_path(article), class: 'btn btn-link' %>
                          </td>
                      <% end %>
                    </tr>
                <% end %>
                </tbody>
                <tfoot>
                    共有<label style="color: red"><%= @articles.count %></label>篇文章
                </tfoot>
              </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>