<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <% @articles.each do |article| %>
        <div class="panel">
          <div class="panel-body" >
            <%= link_to article.title, article_path(article), class: 'btn btn-link' %>
          </div>
        </div>
        <% end %>

      </div>

      <%= render 'shared/search' %>

    </div>
  </div>

</div>