<div class="main">
	<div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <ul class="timeline">
           
           <li class="timeline-inverted">
              <div class="tl-circ"></div>
              <div class="timeline-panel">
                <div class="tl-heading">
                  <h4>毕业了</h4>
                  <p><small class="text-muted"><span class="glyphicon glyphicon-time" aria-hidden="true">18/06/2015</small></p>
                </div>
                <div class="tl-body">
                  <p>
                    结束了四年的大学生涯，走向了一段新的旅程。期待新的精彩！加油！！
                  </p>
                </div>
              </div>
            </li>

            <li>
              <div class="tl-circ"></div>
              <div class="timeline-panel">
                <div class="tl-heading">
                  <h4>thoughtworks实习</h4>
                  <p><small class="text-muted"><span class="glyphicon glyphicon-time" aria-hidden="true">02/03/2015</small></p>
                </div>
                <div class="tl-body">
                  <p>从2014年11月23日实习至今，主要学习了Rails开发相关的一些基本知识。正在慢慢的朝着更为专业的程序员方向前进</p>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="tl-circ"></div>
              <div class="timeline-panel">
                <div class="tl-heading">
                  <h4>博客上线了</h4>
                  <p><small class="text-muted"><span class="glyphicon glyphicon-time" aria-hidden="true">08/12/2014</small></p>
                </div>
                <div class="tl-body">
                  <p>
                    利用octopress搭建的一个博客平台也是正式上线了，欢迎访问<a href="http://wangyanqing.me">我的个人博客</a>
                  </p>
                </div>
              </div>
            </li>

            <li>
              <div class="tl-circ"></div>
              <div class="timeline-panel">
                <div class="tl-heading">
                  <h4>来到帝都</h4>
                  <p><small class="text-muted"><span class="glyphicon glyphicon-time" aria-hidden="true">22/11/2014</small></p>
                </div>
                <div class="tl-body">
                  <p>第一次坐飞机来到北京，满满的全是兴奋！对于实习的日子，满是期待！！</p>
                  <p>
                    <%= image_tag 'fj.png', alt: '飞机' %>
                  </p>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="tl-circ"></div>
              <div class="timeline-panel">
                <div class="tl-heading">
                  <h4>大四来了</h4>
                  <p><small class="text-muted"><span class="glyphicon glyphicon-time" aria-hidden="true">
                  01/09/2014</small></p>
                </div>
                <div class="tl-body">
                  <p>
                   大四来了，曾经遥不可及的毕业，好像就在眼前。长风破浪会有时，直挂云帆济沧海...
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <%= render 'shared/bottom' %>
	</div>
</div>