.main
  .container
    .row
      .col-md-4
        .panel.panel-default
          .panel-heading 听说下雨天，写代码更有感觉！
          .panel-body
            %audio{:src => "http://7xjqpv.com1.z0.glb.clouddn.com/%20rain.mp3",:controls => "controls"}