<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-9">
        <div class="panel">
          <div class="panel-body">
            <table class="table">
              <thead>
              <tr>
                <td>标签编号</td>
                <td>内容</td>
                <td>删除</td>
              </tr>
              </thead>

              <tbody>
              <% @tags.each do |tag| %>
                  <tr>
                    <td>
                      <%= tag.id %>
                    </td>
                    <td>
                      <%= tag.name %>
                    </td>
                    <td>
                      <%= link_to '删除',tag_path(tag), method: :delete, class: 'btn btn-danger' %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
