// Place all the styles related to the quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shuoshuo_quote_before {
  font-size: 0;
  line-height: 99;
  height: 29px;
  width: 32px;
  display: block;
  overflow: hidden;
  float: left;
  background: url('/quote_before.png') no-repeat;
}

.shuoshuo_quote_after {
  font-size: 0;
  line-height: 99;
  height: 29px;
  width: 32px;
  display: block;
  overflow: hidden;
  float: right;
  background: url('/quote_after.png') no-repeat;
}

.shuoshuo_detail {
  clear: both;
  padding: 6px 22px;
  margin-left: 25px;
}

.shuoshuo_time {
  width: 56px;
  height: 56px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  text-align: center;
  overflow: hidden;
  //margin-left: 48px;

  .day {
    font: 24px/1 Tahoma;
    display: block;
    margin-top: 10px;
  }

  .month {
    font-size: 12px;
    display: block;
  }
}

.bg6 {
  color: white;
  background-color: #49a0e1;
}

.customer-area {
  min-height: 500px;
}

.customer-table-foot {
  text-align: right;
}
