// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//.main { background: #fff; }

img { border: 0; max-width: 100%; }

.page-header h1 {
  font-size: 3.26em;
  text-align: center;
  color: #efefef;
  text-shadow: 1px 1px 0 #000;
}

.bottomDiv{
  text-align: center;
}

.cutomer-footer-index{
  text-align: right;
}

.customer-item{
  margin-left: 50px;
}

.article_panel{
  min-height: 500px;
}
